<form role="form">
	<div class="row">
		<div class="col-md-12 form-group">
			<label>Categoria</label>
			<ul class="category-items"></ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 form-group">
			<label for="entryAmount">Importo (€)</label>
			<input type="number" name="amount" class="form-control" id="entryAmount" placeholder="0.00" />
		</div>
		<div class="col-md-6 form-group">
			<label for="entryDescription">Note</label>
			<input type="text" name="description" class="form-control" id="entryDescription" placeholder="Descrizione opzionale" />
		</div>
		<div class="col-md-2 form-group">
			<label for="entryDate">Data</label>
			<div class="input-group">
				<input type="date" name="dateEntry" class="form-control entryDate" id="entryDate" placeholder="gg/mm/aaaa" />
				<span class="input-group-addon" data-toggle="booty-datepicker">     
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="col-md-2 text-right">
			<label>&nbsp;</label>
			<div class="input-group">
				<a href="#" class="hide-add-entry">Annulla</a> 
				<button type="button" class="btn btn-primary add-entry">Conferma</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="pickadate-container"></div>
	</div>
</form>