<div class="controls-container">

	<div class="new-transaction">
		<!-- <div class="add-entry-label hidden-xs">Nuovo movimento</div> -->
		<button type="button" class="btn btn-lg btn-success add-positive-entry">
			<span class="visible-sm-* hidden-xs">Entrata</span>
			<span class="visible-xs-* hidden-sm hidden-md hidden-lg">+</span>
		</button> 
		<button type="button" class="btn btn-lg btn-danger add-negative-entry">
			<span class="visible-sm-* hidden-xs">Uscita</span>
			<span class="visible-xs-* hidden-sm hidden-md hidden-lg">-</span>
		</button>
		<div class="clearfix"></div>
	</div>

	<div class="balance">
		<div class="panel panel-info">
			<!-- <div class="panel-heading">
				<h3 class="panel-title">Saldo</h3>
			</div> -->
			<div class="panel-body">
				SALDO: € <span class="balance-value">0.00</span>
			</div>
		</div>
	</div>

	<div class="filters">
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-list-alt"></span>
				Tutti
			</button>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-thumbs-up"></span>
				Entrate
			</button>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-thumbs-down"></span>
				Uscite
			</button>
		</div>
	</div>

</div>

<div class="entry-list"></div>
<div class="text-center">
	<button class="btn btn-primary more-entries">Altri...</button>
</div>