<div class="col-sm-3 amount <%= positive ? 'positive' : 'negative' %> ">
	<%= positive ? '+' : '-' %>
	<%= amount %> €
</div>
<div class="col-sm-2 category">
	<img src="/images/categories/<%= category.code %>.png" class="category-img" width="16" height="16" align="absmiddle" />
	<span class="category-label"><%= category.title %></span>
</div>
<div class="col-sm-6 description">
	<%= description %>
</div>
<!-- <div class="col-sm-2 entry-date">
	<%= moment(dateEntry).format('DD/MM/YYYY') %>		
</div> -->
<div class="col-sm-1 delete">
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
</div>
