<form role="form">
	<div class="row">
		<div class="col-sm-6 col-md-3 form-group">
			<label for="dateFrom">Dal:</label>
		</div>
		<div class="col-sm-6 col-md-3 form-group">
			<div class="input-group">
				<input 
					type="date" 
					name="dateFrom" 
					class="form-control entryDate" 
					id="dateFrom" 
					placeholder="gg/mm/aaaa" 
					value="<%= dateFrom %>" 
				/>
				<span class="input-group-addon entry-date-icon date-from" data-toggle="booty-datepicker">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 form-group">
			<label for="dateFrom">Al:</label>
		</div>
		<div class="col-sm-6 col-md-3 form-group">
			<div class="input-group">
				<input 
					type="date" 
					name="dateTo" 
					class="form-control entryDate" 
					id="dateTo" 
					placeholder="gg/mm/aaaa" 
					value="<%= dateTo %>"
				/>
				<span class="input-group-addon entry-date-icon date-to" data-toggle="booty-datepicker">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-3 form-group">
			<label for="dateFrom">Categoria:</label>
		</div>
		<div class="col-sm-6 col-md-3 form-group">
			<div class="input-group width-100">
				<select name="category" class="form-control">
					<option value="">Tutte le categorie</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 form-group">
			<label for="dateFrom">Cerca nel testo:</label>
		</div>
		<div class="col-sm-6 col-md-3 form-group">
			<div class="input-group width-100">
				<input type="text" name="description" value='<%= description %>' class="form-control" />
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-10 form-group">
			<a href="#" class="hide-transactions-search">Annulla</a> &nbsp;
			<button type="button" class="btn btn-primary confirm-transactions-search">Conferma</button>
		</div>
	</div>
</form>