<div class="controls-container">

	<div class="new-transaction">
		<!-- <div class="add-entry-label hidden-xs">Nuovo movimento</div> -->
		<button type="button" class="btn btn-lg btn-success add-positive-entry">
			<span class="hidden-xs">Entrata</span>
			<span class="hidden-sm hidden-md hidden-lg">+</span>
		</button> 
		<button type="button" class="btn btn-lg btn-danger add-negative-entry">
			<span class="hidden-xs">Uscita</span>
			<span class="hidden-sm hidden-md hidden-lg">-</span>
		</button>
		<div class="clearfix"></div>
	</div>

	<div class="balance alert alert-success text-center">
		SALDO: € <span class="balance-value">0.00</span>
		<span 
			class="ask-for-initial-balance pull-right glyphicon glyphicon-question-sign"
			rel="tooltip"
			data-toggle="tooltip" 
			data-placement="bottom" 
			title="Clicca qui per impostare un saldo iniziale"
		></span>
	</div>

	<div class="filters text-center">
		<div class="btn-group type">
			<button type="button" class="btn btn-default selected" data-filter="all">
				<span class="glyphicon glyphicon-list-alt"></span>
				Tutto
			</button>
			<button type="button" class="btn btn-default" data-filter="positive">
				<span class="glyphicon glyphicon-thumbs-up"></span>
				<span class="hidden-xs hidden-sm">Entrate</span>
			</button>
			<button type="button" class="btn btn-default" data-filter="negative">
				<span class="glyphicon glyphicon-thumbs-down"></span>
				<span class="hidden-xs hidden-sm">Uscite</span>
			</button>
		</div>
		<button class="btn btn-default period-chooser" type="button">
			<span class="text">?</span>
			<span class="caret"></span>
		</button>
	</div>

</div>

<div class="entry-list"></div>
<div class="text-center">
	<button class="btn btn-default more-entries">Altri...</button>
</div>