doctype html
html(lang='it')
	
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		// link(rel='icon', href='../../favicon.ico')
		title Il Bilancio Familiare | #{title}
	
	body
		p Congratulazioni! Ora puoi effettuare il login a www.ilbilanciofamiliare.it.
		p 
			a(href='/#signin') Torna alla home