doctype html
html(lang='it')
	
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='description', content='Il bilancio familiare è uno strumento di finanza personale e expense tracking')
		meta(name='author', content='Fabio Bozzo')
		// link(rel='icon', href='../../favicon.ico')
		title Il Bilancio Familiare | #{title}
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='/stylesheets/index.css', rel='stylesheet')
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	
	body#index
		
		.top-content
			.inner-bg
				.container
					.row
						.col-sm-8.col-sm-offset-2.text
							img.logo(src='/images/logo.png', alt='Il bilancio familiare')
							h1 Il bilancio familiare
							.description
								p 
								| Uno strumento completo e semplice da utilizzare, per
								| mantenere sempre sotto controllo le tue finanze.
							.header-border
							if message.length 
								.alert.alert-danger= message 
					.row
						.col-sm-5
							.form-box
								.form-top
									.form-top-left
										h3 Login 
										p Se hai già un account, inserisci le tue credenziali per accedere ora:
									.form-top-right
										i.fa.fa-key
								.form-bottom
									form.login-form(name='login', action='/login', method='post', role='form')
										.form-group
											label.sr-only(for='form-username') Username
											input#form-username.form-username.form-control(type='email', name='email', placeholder='e-mail', required='required', value="fabio.bozzo@gmail.com")
											// fabio.bozzo@gmail.com
										.form-group
											label.sr-only(for='form-password') Password
											input#form-password.form-password.form-control(type='password', name='password', placeholder='password', required='required', value="test")
											// test
										button.btn(type='submit') Conferma
									
							.social-login
								h3 ...oppure accedi con:
								.social-login-buttons
									.row
										.col-sm-12.col-md-4
											a.btn.btn-primary(href='/auth/facebook')
												span.fa.fa-facebook
												| &nbsp;Facebook
										.col-sm-12.col-md-4
											a.btn.btn-info(href='/auth/twitter')
												span.fa.fa-twitter
												| &nbsp;Twitter
										.col-sm-12.col-md-4
											a.btn.btn-danger(href='/auth/google')
												span.fa.fa-google-plus
												| &nbsp;Google
						.col-sm-1.middle-border
						.col-sm-1
						.col-sm-5
							.form-box
								.form-top
									.form-top-left
										h3 Registrati
										p Se non ti sei ancora registrato, compila il modulo sottostante per accedere subito:
									.form-top-right
										i.fa.fa-pencil
								.form-bottom
									form.registration-form(name='signup', action='/signup', method='post', role='form')
										.form-group
											label(for='form-first-name') Il tuo nome completo
											input#form-first-name.form-first-name.form-control(type='text', name='name', placeholder='Mario Rossi', required='required')
										.form-group
											label(for='form-email') E-mail
											input#form-email.form-email.form-control(type='email', name='email', placeholder='mario.rossi@gmail.com', required='required')
										.form-group
											label(for='form-password') Password
											input#form-password.form-control(type='password', name='password', placeholder='password', required='required')
										button.btn(type='submit') Conferma
											
		footer
			.container
				.row
					.col-sm-8.col-sm-offset-2
						.footer-border
						p
							| Copyright © Fabio Bozzo 2016 
							// i.fa.fa-smile-o
		
		script(src='/javascripts/build/home.js')